<%-include('./component/main.ejs')%>
<div class="login">
  <div class="container row">
    <form class="col-lg-4 col-sm-10">
       <input type="password" placeholder="old password">
       <input type="password" placeholder="new password"/>
        <input class="btn-custom" type="submit" value="change">
    </form>
</div>
</div>

<%-include('./component/tail.ejs')%>