<%- include('./component/main.ejs')%>
<%-include('./component/header.ejs')%>

<main class="home">
    <div class="container">
        <h2>type your thoughts as notes </h2>
        <a href="/auth-login-google">try it's free</a>
    </div>     
</main>

<%-include('./component/footer.ejs')%>
<%- include('./component/tail.ejs')%>