<%-include('./component/main.ejs')%>
<%-include('./component/header.ejs')%>

<div class="notfound">
    <div class="container-custom">
          <h2>page <img src="/img/criyemojy.png"/> not found </h2>
          <a href="/">discover my Notes</a>
    </div>
</div>


<%-include('./component/tail.ejs')%>