<div class="container footer">
     <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
       <div class="col-md-8 d-flex align-items-center">
         <a href="/" class="mb-3 me-2 mb-md-0 text-decoration-none lh-1" style="font-size:1.8rem;color:#12296c">
           My Notes
         </a>
       </div>
   
       <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
         <li class="ms-3"><a class="text-muted" href="/github" target="_blank" ><i class="fa-brands fa-github"></i></a></li>
         <li class="ms-3"><a class="text-muted" href="/linkedin" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
         <li class="ms-3"><a class="text-muted" href="/telegrame" target="_blank"></a><i class="fa-brands fa-telegram"></i></li>
       </ul>
       <span class=" col-12 mt-3 mb-md-0 text-muted">Developed and designed with love by <Strong class="fs-4" style="color:#12296c;cursor: pointer;">ALI.JS</Strong></span>
     </footer>
   </div>