<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-4 mb-4">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span>My Notes</span>
      </a>
      <% if(username===null){%>
      <ul class="nav nav-pills">
        <li><a href="/" class=" fw-bold nav-link active-custom" aria-current="page" style="color: #12296c;">Home</a></li>
        <li class="nav-item"><a href="/addnote" class=" fw-bold nav-link" style="color: #12296c;">AddNote</a></li>
        <li class="nav-item"><a href="/auth-login-google" class="fw-bold btn btn-primary" style="color:white;">login</a></li>
      </ul>
      <%}%>

      <% if(username!==null){%>
        <ul class="nav nav-pills">
          <%username.map((user)=>{%>
          <li><a href="/Dashboards" style="color: #12296c;" class="nav-link active-custom"aria-current="page"><%=user.userName%></a></li>
          <li class="nav-item">
          <%})%>
           <a href="/logout" class="btn btn-danger" style="height:40px; min-width:100px;">logout</a>
          </li>
        </ul>
        <%}%>
    </header>
  </div>